.form{

  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:300px 
}
.mainContainer{

 background-image: url("https://cdn.discordapp.com/attachments/747993860923457647/997151280067784764/3918758.jpg");
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}


.loginButton{
 
   border-radius: 5px;
   background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  width: 190px;
  margin-right: 10px;
  margin-left: 11px;
  height: 40px;
  
}
.form_input {
  width: 400px;

  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}

